PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/strikz_esports?retryWrites=true&w=majority

JWT_SECRET=change_this_to_a_long_random_secret_before_hosting
JWT_EXPIRY=24h

SUPPORT_EMAIL=support@strikzesports.com
PARTNER_EMAIL=partners@strikzesports.com
